.cover__subtitle {
  margin: 0 16px 32px; /* отступ снизу */
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  white-space: pre-line;
}

@media screen and (min-width: 321px) {
  .cover__subtitle {
    align-self: stretch;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin:0px 204px 115px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    margin: 0 232px 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    margin: 0px 412px 245px;
  }
}
