.cover__subtitle {
  margin: 16px 0 0 0; /* отступ только от врернего заголовка */
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  white-space: pre-line;
}


@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin: 32px 0 0 0;
    max-width: 360px;

    font-size: 18px;
    line-height: 1.22;

    white-space: unset; /* пусть текст снова растягивается */
  }
}
