/* <!-- пришлось создать элемент блока для <li> и отдельно для <img> и дублировать для них правила ограничения по высоте
иначе (уже не впервый раз сталкиваюсь) <li> создаёт мне лишние микро отступы снизу и расширяет на несколько пикселей строку --> */

.photo-grid__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 100%;
  max-height: 213px;
}

@media screen and (min-width: 321px) {
  .photo-grid__item {
    max-height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .photo-grid__item {
    max-height: 264px;
  }
}

@media screen and (min-width: 769px) {
  .photo-grid__item {
    max-height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__item {
    max-height: 225px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    max-height: 213px;
  }
}
