.header {
  box-sizing: border-box;
  margin: 0;
  display: grid;

  /* грид: лого - большая пустота - Ru - отступ - En */
  grid-template-columns: min-content auto min-content 18px min-content;
  grid-template-rows: min-content;
  align-items: center;
}

