/* <!-- я делал несколько параграфов списком <ul>
но появлялся очень странный отступ "после текстов" если второй параграф уходил ниже был больше картинки.
Никак не мог от него избавиться обнулением марджинов и паддингов и убиранием стилей списка --> */

.place__paragraphs {
  margin: 0 16px 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraphs {
    margin: 0;
    grid-area: text;
  }
}
