/* микс для отступов БЭМ-блока intro */
.page__intro {
  margin-top: 64px;   /* отступ от предыдущего блока */
  margin-bottom: 64px;   /* до следующего блока */
}

@media screen and (min-width: 768px) {
  .page__intro {
    margin-top: 88px;  /* отступ от предыдущего блока */
    margin-bottom: 88px; /* до следующего блока */
  }
}

@media screen and (min-width: 1024px) {
  .page__intro {
    margin-top: 92px; /* отступ от предыдущего блока */
    margin-bottom: 92px; /* до следующего блока */
  }
}
