.lead__title {
  margin: 0 0 16px 0; /* отступ снизу */
  padding: 0;

  /* Сохраняем переносы строк как в index.html */
  white-space: pre-line;

  font-weight: 900;

  /*Уж больно резко перепад размеров шрифтов делается
  40px при ширине 320 и будет постепенно расти*/
  font-size: calc( 100vw / 8 );
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin-bottom: 32px;

    font-size: 96px;
    line-height: 1.04;
  }
}

