.footer__links {
  margin: 0 0 48px 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  row-gap: 32px;
  column-gap: 18px;
}

@media screen and (min-width: 768px) {
  .footer__links {
    margin: 0;
    grid-template-columns: repeat(5, min-content);
  }
}
