.intro__text {
  margin: 40px 0 33px;
  padding: 0 16px;


  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}


/* Всем кодом ниже решал проблему,
чтобы при увеличении ширины экрана
все элементы блока INTRO были на одной линии с картинкой из блока LEAD
и резко никуда не перескакивали в моментах перелома*/
@media screen and (min-width: 768px) {
  .intro__text {
    column-width: 976px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 976px) {
  .intro__text {
    white-space: pre-line;
    column-width: 928px;
    margin: 40px auto 33px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    column-width: 984px;

  }
}

