.lead__subtitle {
  margin: 0 0 40px 0; /* отступ снизу */
  width: 100%;
  padding: 0;

  /* Сохраняем переносы строк как в index.html */
  white-space: pre-line;

  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;

  font-weight: 400;
  font-size: calc( (100vw / 20) - ((100vw - 320px)/50) ); /* font-size: 16px; при ширине 320 и постепенно увеличится до 56px(примерно) */
  line-height: 1.25;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
