.intro__title {
  margin: 0;
  padding: 0 0 0 16px;

  min-height: 70px;

  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;

/* Всем кодом ниже решал проблему,
чтобы при увеличении ширины экрана
все элементы блока INTRO были на одной линии с картинкой из блока LEAD
и резко никуда не перескакивали в моментах перелома*/
    column-width: 976px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 976px) {
  .intro__title {
    column-width: 928px;
    margin: 0 auto 0;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    column-width: 984px;
  }
}
